.centre {
    text-align: center
  }

.mat-header-cell.text-center { text-align: center; }


.th-center{
    text-align: center;
  }
  .th-left{
    text-align: left;
  }
  .th-right{
    text-align: right;
  }