<nb-card>
    <nb-card-header>
        <p>operateur est :</p>
    </nb-card-header>
    <nb-card-body>

        <div *ngIf="operateur">
            <table>    
                <tr>
                    <td>Nom operateurs </td>
                    <td>:</td>
                    <td>{{operateur.nom}}</td>
                </tr>
           
                
                <tr>

                    <td>Date</td>
                    <td>:</td>
                    <td>{{ operateur.datep }}</td>
                </tr>
                <tr>
 
                    <td>Part</td>
                    <td>:</td>
                    <td>{{ operateur.part }}</td>
                </tr>
          
             
 
            </table>

        </div>
    </nb-card-body>
</nb-card>