<nb-card>
    <nb-card-header>
        <p>plateforme est :</p>
    </nb-card-header>
    <nb-card-body>

        <div *ngIf="plateforme">
            <table>    
                <tr>
                    <td>Nom plateformes </td>
                    <td>:</td>
                    <td>{{plateforme.nom}}</td>
                </tr>
           
                
                <tr>

                    <td>Date</td>
                    <td>:</td>
                    <td>{{ plateforme.date }}</td>
                </tr>
                <tr>
 
                    <td>Part</td>
                    <td>:</td>
                    <td>{{ plateforme.part }}</td>
                </tr>
          
             
 
            </table>

        </div>
    </nb-card-body>
</nb-card>