<nb-card>
    <nb-card-header>
        Liste Devise

    </nb-card-header>

    <nb-card-body>
        <div style="margin-left: 20px;margin-right: 20px;">
            <nb-card>
                <nb-card-body>
                    <td>
                        <a (click)="ajouter()" *ngFor="let status of statuses" nbButton [status]="status" outline>
                            Ajout devise</a>
                    </td>
                    <br>
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">

                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Phone</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of categorie">
                                <td>{{ p[0] }}</td>
                                <td>{{ p[1] }}</td>
                                <td>{{ p[2] }}</td>
                            </tr>
                        </tbody>
                    </table>
                </nb-card-body>
            </nb-card>
        </div>

    </nb-card-body>
</nb-card>