<nb-card>
    <nb-card-header>
        <p>Chanson est :</p>
    </nb-card-header>
    <nb-card-body>

        <div *ngIf="chanson">
            <table>
                <tr>
                    <td>Nom Chanson </td>
                    <td>:</td>
                    <td>{{chanson.nom}}</td>
                </tr>
                <tr>
                    <td>Artiste</td>
                    <td>:</td>
                    <td>{{chanson.user.nom}} {{chanson.user.prenom}}</td>
                </tr>

                <tr>
                    <td>Featuring</td>
                    <td>:</td>
                    <td>{{ chanson.featuring }}</td>
                </tr>
                <tr>

                    <td>Titre album</td>
                    <td>:</td>
                    <td>{{ chanson.album.titre }}</td>
                </tr>

                <tr>

                    <td>Date Chanson</td>
                    <td>:</td>
                    <td>{{ chanson.datec }}</td>
                </tr>
                <tr>
                    <td>Genre</td>
                    <td>:</td>
                    <td>{{ chanson.genre }}</td>
                </tr>
                <tr>
                    <td>Opérateur</td>
                    <td>:</td>
                    <td *ngFor="let pp of chanson.operateurs">{{ pp.nom }}{{ chanson.operateurs.nom }}</td>
                </tr>
                <tr>

                    <td>RBT</td>
                    <td>:</td>
                    <td>{{ chanson.code }}</td>
                </tr>
                <tr>
                    <td>Nom Plateforme</td>
                    <td>:</td>
                    <td *ngFor="let pp of chanson.platformes">{{ pp.nom }}</td>
                </tr>

            </table>

        </div>
    </nb-card-body>
</nb-card>
