<nb-card>
    <nb-card-header>
        <p>Fournisseur est :</p>
    </nb-card-header>
    <nb-card-body>

        <div *ngIf="fournisseur">
            <table>    
                <tr>
                    <td>Nom fournisseur </td>
                    <td>:</td>
                    <td>{{fournisseur.nom}}</td>
                </tr>
           
                <tr>
                    <td>Telephone</td>
                    <td>:</td>
                    <td>{{ fournisseur.phone }}</td>
                </tr>
                <tr>

                    <td>E-mail</td>
                    <td>:</td>
                    <td>{{ fournisseur.email }}</td>
                </tr>
                <tr>
                    <td>Contrat</td>

                    <td>:</td>
                    <td>{{ fournisseur.contrat }}</td>
                </tr>
                <tr>

                    <td>Date</td>
                    <td>:</td>
                    <td>{{ fournisseur.date }}</td>
                </tr>
                <tr>
 
                    <td>Part</td>
                    <td>:</td>
                    <td>{{ fournisseur.part }}</td>
                </tr>
                <tr>

                    <td>Nationnalite</td>
                    <td>:</td>
                    <td>{{ fournisseur.nationnalite }}</td>
                </tr>
                <tr>
                    <td>Retenu</td>

                    <td>:</td>
                    <td>{{ fournisseur.retenu }}</td>
                </tr>
 
            </table>

        </div>
    </nb-card-body>
</nb-card>